*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h2{
    margin: 16px 24px;
}
.body{
    font-family: "outfit", "sans-serif";
}

.line{
    display: inline-block;
    width: 320px;
    border: 1px solid grey;
}
.user_form{
    margin:40px auto; 
    width: 400px; 
    border: 2px solid grey; 
    border-radius: 4px;
}
.user_form_title{
margin-top: 10px;
margin-left: 20px;
font-weight: 600;
font-size: 24px;
line-height: 30.24px;
}
.input_group{
    margin: 16px 24px;
   }

   .input_groups{
    border: 2px solid gray;
    border-radius: 6px;
    padding: 12px 8px;
    width: 320px;
    height: 20px;
   }


.input_group_phone_info{
    width: 50px;
    float: left;
  
    margin-right: 4px;
    border: 2px solid grey;
    border-radius: 6px;
    height: 20px;
    padding: 12px 8px;
}
.input_group_phone{
display: inline-block;
width: 268px;
border: 2px solid gray;
border-radius: 6px;
height: 20px;
padding: 12px 8px;
}

.dropdown{
    border: 2px solid grey;
    border-radius: 6px;
    width: 320px;
    height: 20px;
    padding: 12px 8px;
}

.label_group{
display: inline-block;
margin-bottom: 4px;
font-size: 10px;
}

.text{
    width: 320px;
    border: 2px solid grey;
    border-radius:  6px;
    padding: 12px 8px;
}

.box{ margin: 8px 2px 0px 24px;
}
.check{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    font: outfit;

 
}

.btn{
 margin: 24px;
 width: 340px;
 height: 40px;   
 padding: 8px 16px;  
 background-color: blue;
 color: white;
 border-radius: 6px;
 cursor: pointer;
 border: none;
}